

.banner {
    overflow: hidden;
    max-height: 926px;

    &--main {
        background: url('../assets/img/mainpage/banne-main.jpg');
        background-size: cover;
    }

    &__inner {
        position: relative;
        padding: 160px 0 0;
    }

    &__info {
        margin: 0 -15px;
        padding-top: 125px;
    }

    &__slide {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        max-height: 768px;
    }

    &__img {
        max-width: 497px;
        max-height: 770px;
    }

    &__btn {
        margin-top: 10px;
    }
}
@media (max-width: 1200px) {
    .banner{
        max-height: initial;
        &--main{
            padding-bottom: 60px;
        }
        &__img{
            max-width: 363px;
            max-height: 574px;
        }
        &__info{
            padding-top: 80px;
        }
    }
}
@media (max-width: 992px){
    .banner{
        &__info{
            margin: 0;
        }
        &--main{
            &__left{
                position: absolute;
                z-index: 1;
            }
        }
    }
}
@media (max-width: 768px){
    .banner{
        &__inner{
            padding-top: 100px;
        }
    }
}
@media (max-width: 768px) {
    .banner {
        &__slide{
            max-height: 573px;
        }
        &__info{
            padding-top: 20px;
        }
    }
}
@media (max-width: 576px){
    .banner{
        &__img {
            max-width: 320px;
            // max-height: 321px;
        }
        &__slide{
            // max-height: 323px;
        }
        &--main {
            &__left {
                position: relative;
            }
        }
    }
}
@media (max-width: 480px) {
    .banner {
        &__img {
            max-width: 230px;
            max-height: 321px;
        }

        &__slide {
            max-height: 323px;
        }

        &--main {
            &__left {
                position: relative;
            }
        }
    }
}