.footer {
    background: #52425A;
    color: #fff;
    &__inner {
        padding: 22px 0;
        min-height: 140px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__text {
        font-size: 16px;
    }

    &__contacts {
        p {
            text-decoration: underline;
            margin-bottom: 5px;
        }
    }

    &__logo {
        max-width: 254px;
        max-height: 30px;
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }

    &__links {
        display: flex;
        min-height: 83px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        p{
            white-space: nowrap;
            a{
                display: inline;
            }
        }
        .author{
            font-size: inherit;
            font-weight: 300;
        }
        a {
            text-decoration: underline;
            color: #fff;

            &:hover {
                text-decoration: none;
            }
        }
    }

    @media (max-width: 1200px) {
        &__logo {
            max-width: 225px;
        }

        &__links {
            min-height: 100px;
            font-size: 14px;
        }
    }

    @media (max-width: 992px) {
        &__inner {
            flex-wrap: wrap;
        }

        &__item {
            margin-bottom: 20px;
        }

        &__links {
            min-height: 60px;
            justify-content: center;
        }
    }

    @media (max-width: 768px) {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: 576px) {
        &__logo {
            max-width: 270px;
            padding: 0;
        }

        &__item {
            text-align: center;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 0;
        }

        &__contacts {
            margin-bottom: 14px;

            p {
                margin-bottom: 0px;
            }
        }

        &__links {
            min-height: auto;
            margin-bottom: 0;

            .policy {
                margin-top: 10px;
                margin-bottom: 13px;
            }
        }
    }
}

.p-sm-0 {
    @media (max-width: 576px) {
        padding: 0;
    }
}

.f-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pro-doctorov img {
    width: 120px;
}

.footer__logo {
    margin-bottom: 15px;
}

@media (max-width: 992px) {
    .pro-doctorov img {
        width: 160px;
    }

    .footer__item {
        text-align: center;
    }

    .f-column {
        margin-bottom: 15px;
    }
}

// .footer {
//     background-color: $eggplant;
//     color: #fff;
//     transition: all .3s;

//     &__inner {
//         padding: 40px 0;
//         display: flex;
//         justify-content: space-between;
//         align-items: flex-start;
//     }

//     a {
//         color: inherit;

//         &:hover {
//             color: $pink;
//         }
//     }

//     &__col {
//         display: flex;
//         flex-direction: column;
//     }

//     &__header {
//         position: relative;
//     }

//     .menu-arrow {
//         stroke: #fff;
//         display: none;
//     }

//     &__list {
//         list-style: none;
//         margin: 0;
//         padding-left: 0;
//         transition: all .3s;

//         &--sub {
//             margin-bottom: 15px;
//         }
//     }

//     &__item {
//         font-weight: 600;
//         font-size: 16px;
//         letter-spacing: 0.03em;

//         &:hover {
//             color: $pink;
//         }

//         &--sub {
//             font-weight: 300;
//             color: #A49DA7;
//         }
//         &--bottom{
//             font-weight: 300;
//         }
//     }

//     &__link {
//         display: inline-block;
//         padding-bottom: 15px;
//         text-transform: uppercase;

//         &--sub {
//             text-transform: none;
//         }
//     }

//     .copyright {
//         padding-top: 18px;
//         font-size: 14px;
//         font-weight: 300;
//         line-height: 24px;

//         span {
//             display: block;
//         }
//     }

//     &__contacts {
//         font-size: 19px;
//         font-weight: 300;
//         display: flex;
//         flex-direction: column;
//     }

//     &__item--contacts {
//         position: relative;
//         top: 0;
//         bottom: 0;
//         margin: auto 0;
//         padding-left: 40px;
//         padding-bottom: 25px;
//         font-weight: 300;

//         &::after {
//             position: absolute;
//             left: 0;
//             top: 0;
//             margin: auto 0;
//         }
//     }

//     &__bottom {
//         padding: 23px 0;
//         border-top: 1px solid rgba(255, 255, 255, 0.1);

//         .footer__inner {
//             padding: 0;
//         }
//     }

//     .oferta {
//         font-size: 14px;
//         text-transform: uppercase;
//         letter-spacing: 0.03em;
//         color: rgba(255, 255, 255, 0.5);
//     }

//     @media (max-width: 992px) {
//         &__inner {
//             display: flex;
//             justify-content: space-between;
//         }

//         &__col {
//             margin-bottom: 25px;
//         }

//         &__item {
//             &--bottom {
//                 margin-bottom: 15px;
//                 font-size: 13px;
//                 display: block;
//             }

//             &--active {
//                 .footer__list--sub {
//                     display: inline-block;
//                 }
//             }
//         }

//         &__order {
//             &:nth-child(1) {
//                 order: 0;
//             }

//             &:nth-child(2) {
//                 order: 2;
//             }

//             &:nth-child(3) {
//                 order: 5;
//             }

//             &:nth-child(4) {
//                 order: 4;
//             }

//             &:nth-child(5) {
//                 order: 3;
//             }
//         }

//         &__list--sub {
//             display: none;
//         }

//         .menu-arrow {
//             display: inline-block;
//         }

//         &__bottom {
//             .footer__inner {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 text-align: center;
//             }
//         }
//     }

//     @media (max-width: 768px) {
//         &__item {
//             font-size: 14px;

//             &--sub {
//                 font-size: 13px;
//             }
//         }

//         &__order {
//             &:nth-child(3) {
//                 order: 3;
//             }

//             &:nth-child(5) {
//                 order: 5;
//             }
//         }

//         &__item--contacts {
//             font-size: 16px;
//         }
//     }

//     @media (max-width: 576px) {
//         &__inner {
//             padding: 30px 0;
//         }

//         &__logo {
//             align-items: center;
//         }

//         &__logo {
//             position: relative;
//             padding-bottom: 20px;

//             &::after {
//                 content: '';
//                 width: 100%;
//                 height: 1px;
//                 position: absolute;
//                 left: 0;
//                 bottom: 0;
//                 background-color: #5B4F61;
//             }
//         }
//     }
// }

address {
    font-style: normal;

    &::after {
        content: url('../assets/img/icons/pin-alt.svg');
        width: 24px;
        height: 24px;
    }
}

.mail {
    &::after {
        content: url('../assets/img/icons/mail.svg');
        width: 24px;
        height: 24px;
    }
}

.policy {
    font-size: 14px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.fancybox-slide--html .fancybox-close-small {
    padding: 3px;
    right: 4px;
    top: 13px;
}

.popup {
    position: relative;
    .form {
        &__input {
            height: 72px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            font-size: 24px;
        }

        @media (max-width: 1450px) {
            &__input {
                font-size: 19px;
            }
        }
    }
    .popup-form__input,
    .popup-form__input:focus {
        border: 1px solid #c4c4c4;
    }

    @media (max-width: 576px) {
        .popup-form__col--mobile {
            margin: 0;
        }
    }
    &-content {
        max-width: 700px;
    }
    &-title{
        padding-bottom: 0px;
        font-size: 45px;
    }
    &-form {
        position: relative;
        font-size: 14px;
        margin-top: 0px;
        padding: 3rem 2.5rem;
        box-shadow: 0px 5px 40px rgba(202, 202, 208, 0.2);
        border-radius: 18px;
        min-height: 460px;

        .section-title {
            padding: 0;
        }
        &__input {
            padding: 17px 19px;
            border-radius: 16px;
            font-size: 19px;
            color: #979797;
            border: 1px solid #C4C4C4;
            width: 47.5%;

            &:focus {
                border: 1px solid #C4C4C4;
            }
        }
        input[type=tel],
        input[type=text]:not([name=doctor]) {
            max-width: 300px;
            margin-right: 0;
        }

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 2em 0 2em;
        }

        &__text {
            margin: 1em 0;
            font-size: 19px;
            line-height: 150%;
        }

        &__checkbox {
            width: 17px;
            height: 18px;
        }

        .policy span {
            display: inline-block;
            flex-wrap: nowrap;
            margin-left: 10px;
        }

        .btn {
            padding: 0;
            width: 251px;
            height: 80px;
        }

        @media (max-width: 768px) {
            font-size: 12px;
            min-height: 470px;
            width: calc(100% - 40px);

            &__input {
                margin: .5em 0;
            }

            &__row {
                margin: 1.5em 0 0em;
            }

            .policy {
                display: flex;
                margin-bottom: 1em;
            }

            .policy span {
                font-size: 13px;
            }

            &__text{
                font-size: 16px;
            }
        }

        @media (max-width: 576px) {
            padding: 4rem 1.5rem 3rem;
            margin-top: 0px;

            &__input {
                width: 100%;
                font-size: 16px;
            }

            &__col--mobile {
                flex-direction: column;
            }
        }

        @media (max-width: 480px) {
            width: calc(100% - 15px);

            .btn {
                width: 200px;
                height: 70px;
            }
        }
    }
}

.fancybox__content>.carousel__button.is-close {
    color: $textBlack;
    box-shadow: none;
    top: 10px;
    right: 10px;
}
.fancybox__slide.is-selected.has-inline{
    padding: 0;
}

.form-messages {
    position: relative;
    font-size: 15px;
    bottom: 0px;
    text-align: center;
}

.form-message {
    display: none;

    &--success {
        color: #16a600;
    }

    &--error {
        color: #eb1338;
    }
}

.fancybox-slide--html .fancybox-close-small {
    padding: 3px;
    right: 4px;
    top: 13px;
}
.compensate-for-scrollbar {
    padding-right: 0 !important;
}

.link {
    color: #37373e;
    &:hover{
        text-decoration: none;
        color: #dd4492;
    }
}

.link--underlined {
    text-decoration: underline;
}

.text-center{
    text-align: center !important;
}